<configuration>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${accismus.log.dir.log}/${accismus.log.application}_${accismus.log.ip.localhost.hostname}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${accismus.log.application}_${accismus.log.ip.localhost.hostname}.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>

  	<encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="accismus" level="debug"/>
  <logger name="org.apache.zookeeper" level="error"/>

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>